{% extends 'base.html' %}

{% block content %}
<div class="container tw-flex tw-flex-col tw-gap-20">
    <!-- popular products -->
    <div class="container">
        <div class="container-title tw-flex tw-gap-6">
            <h1 class="tw-font-semibold tw-text-4xl tw-mt-2 tw-mb-4 tw-inline-block">Popular products in your area</h1>
            <div class="tw-inline-block tw-h-[3px] tw-grow tw-shrink tw-self-center tw-bg-baseblue">
            </div>
            <a class="btn btn-outline-primary tw-h-fit tw-self-center"
                href="{{ url_for('search.general_search', type='products', filter='popular')}}">View More</a>
        </div>
        <div class="tw-container tw-flex gap-3">
            {% for item in popular_products %}
            <a class="card tw-grow tw-shrink tw-max-w-[25%] tw-min-w-[20%]"
                href="{{ url_for('products.find_by_slug', slug=item.slug) }}">
                <div class="card-body tw-flex tw-flex-col tw-gap-1">
                    <img src="{{ item.path or '/static/images/generic.png' }}" alt="" class="img-card-top mb-2">
                    <p class="card-title tw-text-lg tw-font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- top products -->
    <div class="container">
        <div class="container-title tw-flex tw-gap-6">
            <h1 class="tw-font-semibold tw-text-4xl tw-mb-4 tw-inline-block">Top products in your area</h1>
            <div class="tw-inline-block tw-h-[3px] tw-grow tw-shrink tw-self-center tw-bg-baseblue">
            </div>
            <a class="btn btn-outline-primary tw-h-fit tw-self-center"
                href="{{ url_for('search.general_search', type='products', filter='top_rated')}}">View More</a>
        </div>
        <div class="container tw-flex tw-gap-3">
            {% for item in top_products %}
            <a class="card tw-grow tw-shrink tw-max-w-[25%] tw-min-w-[20%]"
                href="{{ url_for('products.find_by_slug', slug=item.slug) }}">
                <div class="card-body tw-flex tw-flex-col tw-gap-1">
                    <img src="{{ item.path or '/static/images/generic.png' }}" alt="" class="img-card-top mb-2">
                    <p class="card-title tw-text-lg tw-font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- newest products -->
    <div class="container">
        <div class="container-title tw-flex tw-gap-6">
            <h1 class="tw-font-semibold tw-text-4xl tw-mb-4 tw-inline-block">Newest products in your area</h1>
            <div class="tw-inline-block tw-h-[3px] tw-grow tw-shrink tw-self-center tw-bg-baseblue">
            </div>
            <a class="btn btn-outline-primary tw-h-fit tw-self-center"
                href="{{ url_for('search.general_search', type='products', filter='newest')}}">View More</a>
        </div>
        <div class="container tw-flex tw-gap-3">
            {% for item in newest_products %}
            <a class="card tw-grow tw-shrink tw-max-w-[25%] tw-min-w-[20%]"
                href="{{ url_for('products.find_by_slug', slug=item.slug) }}">
                <div class="card-body tw-flex tw-flex-col tw-gap-1">
                    <img src="{{ item.path or '/static/images/generic.png' }}" alt="" class="img-card-top mb-2">
                    <p class="card-title tw-text-lg tw-font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <!-- nearest bussiness -->
    <div class="container">
        <div class="container-title tw-flex tw-gap-6">
            <h1 class="tw-font-semibold tw-text-4xl  tw-mb-4 tw-inline-block">Nearest bussiness to you</h1>
            <div class="tw-inline-block tw-h-[3px] tw-grow tw-shrink tw-self-center tw-bg-baseblue">
            </div>
            <a class="btn btn-outline-primary tw-h-fit tw-self-center"
                href="{{ url_for('search.general_search', type='bussiness', filter='nearest')}}">View More</a>
        </div>
        <div class="container tw-flex tw-gap-3">
            {% for item in nearest_bussiness %}
            <a class="card tw-grow tw-shrink tw-max-w-[25%] tw-min-w-[20%]"
                href="{{ url_for('bussiness.find_by_slug', slug=item.slug) }}">
                <div class="card-body tw-flex tw-flex-col tw-gap-1">
                    <img src="{{ item.path or '/static/images/generic.png' }}" alt="" class="img-card-top mb-2">
                    <p class="card-title tw-text-lg tw-font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <!-- popular bussiness -->
    <div class="container">
        <div class="container-title tw-flex tw-gap-6">
            <h1 class="tw-font-semibold tw-text-4xl  tw-mb-4 tw-inline-block">Popular bussiness in your area</h1>
            <div class="tw-inline-block tw-h-[3px] tw-grow tw-shrink tw-self-center tw-bg-baseblue">
            </div>
            <a class="btn btn-outline-primary tw-h-fit tw-self-center"
                href="{{ url_for('search.general_search', type='bussiness', filter='popular')}}">View More</a>
        </div>
        <div class="container tw-flex tw-gap-3">
            {% for item in popular_bussiness %}
            <a class="card tw-grow tw-shrink tw-max-w-[25%] tw-min-w-[20%]"
                href="{{ url_for('bussiness.find_by_slug', slug=item.slug) }}">
                <div class="card-body tw-flex tw-flex-col tw-gap-1">
                    <img src="{{ item.path or '/static/images/generic.png' }}" alt="" class="img-card-top mb-2">
                    <p class="card-title tw-text-lg tw-font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>
    <!-- top rated bussiness -->
    <div class="container">
        <div class="container-title tw-flex tw-gap-6">
            <h1 class="tw-font-semibold tw-text-4xl  tw-mb-4 tw-inline-block">Top rated bussiness in your area</h1>
            <div class="tw-inline-block tw-h-[3px] tw-grow tw-shrink tw-self-center tw-bg-baseblue">
            </div>
            <a class="btn btn-outline-primary tw-h-fit tw-self-center"
                href="{{ url_for('search.general_search', type='bussiness', filter='top_rated')}}">View More</a>
        </div>
        <div class="container tw-flex tw-gap-3">
            {% for item in top_bussiness %}
            <a class="card tw-grow tw-shrink tw-max-w-[25%] tw-min-w-[20%]"
                href="{{ url_for('bussiness.find_by_slug', slug=item.slug) }}">
                <div class="card-body tw-flex tw-flex-col tw-gap-1">
                    <img src="{{ item.path or '/static/images/generic.png' }}" alt="" class="img-card-top mb-2">
                    <p class="card-title tw-text-lg tw-font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>

    <!-- most discount -->
    <div class="container">
        <div class="container-title tw-flex tw-gap-6">
            <h1 class="tw-font-semibold tw-text-4xl  tw-mb-4 tw-inline-block">Bussiness with most discounts in your area
            </h1>
            <div class="tw-inline-block tw-h-[3px] tw-grow tw-shrink tw-self-center tw-bg-baseblue">
            </div>
            <a class="btn btn-outline-primary tw-h-fit tw-self-center"
                href="{{ url_for('search.general_search', type='bussiness', filter='most_discount')}}">View More</a>
        </div>
        <div class="container tw-flex tw-gap-3">
            {% for item in most_discount %}
            <a class="card tw-grow tw-shrink tw-max-w-[25%] tw-min-w-[20%]"
                href="{{ url_for('bussiness.find_by_slug', slug=item.slug) }}">
                <div class="card-body tw-flex tw-flex-col tw-gap-1">
                    <img src="{{ item.path or '/static/images/generic.png' }}" alt="" class="img-card-top mb-2">
                    <p class="card-title tw-text-lg tw-font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </a>
            {% endfor %}
        </div>
    </div>


</div>

{% endblock %}