{% extends 'base.html' %}

{% block content %}
<div class="container flex flex-col gap-5">
    <!-- popular products -->
    <div class="container">
        <h1 class="font-semibold text-4xl mb-4">Popular products in your area</h1>
        <div class="container flex gap-3">
            {% for item in popular_products %}
            <div class="card grow shrink max-w-[50%]">
                <div class="card-body flex flex-col gap-1">
                    <img src="{{ url_for('static', filename='images/generic.png') }}" alt="" class="img-card-top mb-2">
                    <p class="card-title text-lg font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- newest products -->
    <div class="container">
        <h1 class="font-semibold text-4xl mb-4">Newest products in your area</h1>
        <div class="container flex gap-3">
            {% for item in newest_products %}
            <div class="card grow shrink max-w-[50%]">
                <div class="card-body flex flex-col gap-1">
                    <img src="{{ url_for('static', filename='images/generic.png') }}" alt="" class="img-card-top mb-2">
                    <p class="card-title text-lg font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- nearest bussiness -->
    <div class="container">
        <h1 class="font-semibold text-4xl mb-4">Nearest bussiness to you</h1>
        <div class="container flex gap-3">
            {% for item in nearest_bussiness %}
            <div class="card grow shrink max-w-[50%]">
                <div class="card-body flex flex-col gap-1">
                    <img src="{{ url_for('static', filename='images/generic.png') }}" alt="" class="img-card-top mb-2">
                    <p class="card-title text-lg font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- popular bussiness -->
    <div class="container">
        <h1 class="font-semibold text-4xl mb-4">Popular bussiness in your area</h1>
        <div class="container flex gap-3">
            {% for item in popular_bussiness %}
            <div class="card grow shrink max-w-[50%]">
                <div class="card-body flex flex-col gap-1">
                    <img src="{{ url_for('static', filename='images/generic.png') }}" alt="" class="img-card-top mb-2">
                    <p class="card-title text-lg font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- most discount -->
    <div class="container">
        <h1 class="font-semibold text-4xl mb-4">Most discounted products in your area</h1>
        <div class="container flex gap-3">
            {% for item in most_discount %}
            <div class="card grow shrink max-w-[50%]">
                <div class="card-body flex flex-col gap-1">
                    <img src="{{ url_for('static', filename='images/generic.png') }}" alt="" class="img-card-top mb-2">
                    <p class="card-title text-lg font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <!-- top products -->
    <div class="container">
        <h1 class="font-semibold text-4xl mb-4">Top products in your area</h1>
        <div class="container flex gap-3">
            {% for item in top_products %}
            <div class="card grow shrink max-w-[50%]">
                <div class="card-body flex flex-col gap-1">
                    <img src="{{ url_for('static', filename='images/generic.png') }}" alt="" class="img-card-top mb-2">
                    <p class="card-title text-lg font-semibold">{{item.rank}}. {{item.name}}</p>
                    <p class="card-text">{{item.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}