{% extends 'base.html' %}


{% block content %}

<div class="card tw-flex-tw-gap-3-tw-p-4 tw-w-full tw-h-1/3">
    <!-- --     Image -- -->
    <div class="card-body tw-w-full tw-h-1/3 tw-flex tw-items-center tw-justify-center">
        <img src="{{ url_for('static', filename='images/generic.png') }}" alt="{{ bussiness.name }}"
            class="card-img tw-w-1/4 tw-h-1/4">
        <!-- --     Description -- -->
        <div class="tw-w-2/3 tw-text-center">
            <h1 class="tw-text-2xl tw-font-bold">{{ bussiness.name }}</h1>
            <p class="tw-text-sm">{{ bussiness.description }}</p>
            <div>
                <a href="{{ url_for('ratings.find_by_bussiness', slug=bussiness.slug) }}"
                    class="tw-text-center tw-text-xs tw-text-blue-600 dark:tw-text-blue-500 hover:tw-underline tw-mt-[-5px]">View
                    Ratings</a>
            </div>

        </div>
    </div>
</div>

<form id="search__for" class="tw-flex tw-flex-col tw-w-full"
    onsubmit="event.preventDefault(); return getResults(this);">
    <div class="container tw-my-4 tw-flex tw-flex-col tw-w-full">
        <!-- Search bar -->
        <p class="tw-text-xl tw-mb-2">
            Enter something you're looking for </p>
        <div id="search__input" class="input-group mb-3">

            <button class="btn btn-primary" id="submit__search__button" type="submit">Search</button>

            <input type="text" name="name" value="{{keyword}}" class="form-control">
            <input type="number" name="page" id="input_page" hidden="true">
        </div>


    </div>
    <div class="tw-flex">
        <!-- Sidebar -->
        <div id="search__sidebar"
            class="bg-primary-subtle text-color-baseblue p-3 tw-w-1/5 tw-rounded-[10px] tw-min-w-min">
            <p class="tw-text-center tw-text-xl tw-font-semibold tw-m-3">Filters</p>
            <select class="form-select flex-grow" aria-label=".form-select-lg example" name="filter"
                id="filter__options">
                <option class="filter-option" value="" selected="selected">-- None --</option>
                <option class="filter-option" value="newest">Newest</option>
                <option class="filter-option" value="popular">Popular</option>
                <option class="filter-option" value="top_rated">Top Rated</option>


            </select>
        </div>
        <!-- Content -->
        <div id="search__container" class="tw-w-4/5 px-2">
            <!-- Elements -->

            <div class="tw-grid tw-grid-cols-[repeat(auto-fill,_minmax(200px,_1fr))] tw-grid-rows-[repeat(auto,_auto)] tw-gap-2"
                id="search__elements">

                {% for item in items %}
                <a class="card" href="{{url_for('products.find_by_slug', slug=item.slug)}}">
                    <div class="card-header tw-flex tw-justify-between">
                        <div>
                            <strong>{{item.price | round(2)}}$ USD</strong>
                        </div>
                        <div>
                            <strong>{{item.discount | round(1)}}% discount</strong>
                        </div>
                    </div>
                    <div class="card-body tw-flex tw-flex-col tw-gap-1">
                        <img src="{{ url_for('static', filename='images/generic.png') }}" alt=""
                            class="img-card-top mb-2">
                        <p class="card-title tw-text-lg tw-font-semibold"> {{item.name}}</p>
                        <p class="card-text">{{item.description}}</p>
                    </div>
                    <div class="card-header tw-flex tw-justify-end">
                        <button href="" type="button" class="" id="{{item.stock_id}}"
                            onclick='event.preventDefault(); bookmarkButton(this)'>
                            {% if item.is_favorite > 0 %}
                            <img src='{{ url_for("static", filename="bootstrap-icons/bookmark-fill.svg") }}' value="1">
                            {% else %}
                            <img src='{{ url_for("static", filename="bootstrap-icons/bookmark.svg") }}' value="0">
                            {% endif %}
                        </button>
                    </div>
                </a>
                {% endfor %}

            </div>
            <div id="not-results">
                {% if items == [] %}
                <p class="tw-text-3xl tw-mt-4 tw-font-semibold tw-text-center">No results</p>
                {% endif %}
            </div>
            <!-- Pagination -->
            <div id="pagination" class="tw-mt-4"></div>
        </div>
    </div>


</form>
<!-- Pagination : EXPORT SCRIPT -->
<script>
    function setPaginationElement(pages, index) {

        const paginationArea = document.getElementById('pagination');
        const pagesCount = pages < 1 ? 1 : pages;
        // Clear previous pagination
        paginationArea.innerHTML = '';

        // Create navigation structure
        const nav = document.createElement('nav');
        nav.setAttribute('aria-label', 'Page navigation example');
        nav.className = 'tw-flex tw-justify-center';

        const ul = document.createElement('ul');
        ul.className = 'pagination';

        // Previous button
        const prevLi = document.createElement('li');
        prevLi.className = `page-item ${index == 1 ? 'disabled' : ''}`;
        const prevLink = document.createElement('a');
        prevLink.className = 'page-link';
        prevLink.href = '#';
        prevLink.innerText = 'Previous';
        prevLink.addEventListener('click', () => {
            event.preventDefault()
            document.getElementById('input_page').value = index - 1; // Set the 
            document.getElementById('submit__search__button').click()
        })
        prevLi.appendChild(prevLink);
        ul.appendChild(prevLi);

        // Create page items
        for (let i = 0; i < pagesCount; i++) {
            const li = document.createElement('li');
            li.className = 'page-item';
            const link = document.createElement('a');
            link.className = `page-link ${index === i + 1 ? 'active' : ''}`;
            link.href = '#';
            link.innerText = i + 1;

            // Add click event listener
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default anchor behavior
                document.getElementById('input_page').value = i + 1; // Set the hidden input value
                document.getElementById('submit__search__button').click(); // Submit the form
            });

            li.appendChild(link);
            ul.appendChild(li);
        }

        // Next button
        const nextLi = document.createElement('li');
        nextLi.className = 'page-item';
        const nextLink = document.createElement('a');
        nextLink.className = `page-link ${index >= pagesCount ? 'disabled' : ''}`;
        nextLink.href = '#';
        nextLink.innerText = 'Next';
        nextLink.addEventListener('click', () => {
            event.preventDefault()
            document.getElementById('input_page').value = index + 1; // Set the 
            document.getElementById('submit__search__button').click()
        })
        nextLi.appendChild(nextLink);
        ul.appendChild(nextLi);

        // Append the list to the navigation
        nav.appendChild(ul);
        paginationArea.appendChild(nav);
    }
    setPaginationElement(`{{pages}}`, 1)
</script>

<!-- Requests -->
<script>
    async function getResults(e) {
        const bussinessSlug = `{{bussiness.slug}}`
        const page = e.page.value
        const toSearch = `name=${e.name.value}&filter=${e.filter.value}&json=1`
        const response = await fetch(`/bussiness/${bussinessSlug}/search/products?${toSearch}${page > 1 ? '&page=' + page : ''}`, {
            method: 'GET',
            headers: {
                'Content-Type': 'application/json'
            },
        })
        const content = await response.json();
        const data = content.data
        const cardContainer = document.getElementById('search__elements')
        cardContainer.innerHTML = '';
        const htmlContent = data.map(item => `<a class="card" href=../bussiness/search/${item.slug}>
                                    <div class="card-header tw-flex tw-justify-between">
                            <div>
                                <strong>${(item.price).toFixed(2)}$ USD</strong>
                            </div>
                            <div>
                                <strong>${(item.discount).toFixed(1)}% discount</strong>
                            </div>
                        </div>
                    <div class="card-body tw-flex tw-flex-col tw-gap-1">
                        <img src="{{ url_for('static', filename='images/generic.png') }}" alt=""
                            class="img-card-top mb-2">
                        <p class="card-title tw-text-lg tw-font-semibold"> ${item.name}</p>
                        <p class="card-text">${item.description}</p>
                    </div>
                </a>`).join('')
        cardContainer.innerHTML = htmlContent;
        const noResultsContainer = document.getElementById('not-results')
        if (data.length > 0) {
            noResultsContainer.innerHTML = '';
            setPaginationElement(content.count, +page)
        } else {
            noResultsContainer.innerHTML = `<p class="tw-text-3xl tw-mt-4 tw-font-semibold tw-text-center">No results</p>`
            setPaginationElement(1, 1)

        }

        return false
    }
</script>
<script>
    function bookmarkButton(button) {
        const item = button.querySelector('img')
        const isFavorite = item.getAttribute('value');
        const stockId = button.id
        const userId = "{{current_user.get_id()}}"
        console.log(stockId, isFavorite, userId)

        fetch(`/lists/${parseInt(isFavorite) ? 'remove' : 'add'}?stock_id=${stockId}&user_id=${userId}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
        })
            .then(response => response.json())
            .then(data => {
                if (data[0]) {
                    if (isFavorite == 0) {
                        item.setAttribute('src', '{{ url_for("static", filename="bootstrap-icons/bookmark-fill.svg") }}')
                        item.setAttribute('value', 1)
                    } else {
                        item.setAttribute('src', '{{ url_for("static", filename="bootstrap-icons/bookmark.svg") }}')
                        item.setAttribute('value', 0)
                    }
                    alert('Success');
                } else {
                    console.log(data);
                    console.error('Error:', data.message);
                }
            });


    };
</script>
{% endblock %}