{% extends 'base.html' %}

{% block content %}

<div class="container tw-flex tw-flex-col tw-gap-6 tw-w-full">
    <h2 class="tw-font-semibold tw-text-3xl tw-mb-4 tw-inline-block">Create or Edit Tag</h2>
    <form onsubmit="event.preventDefault(); return createTag()" class="tw-flex tw-flex-col tw-gap-4">
        <div>
            <label for="tag_name">Tag Name</label>
            <input type="text" name="tag_name" id="tag_name" placeholder="i.e. Corn Flakes" class="form-control"
                required>
        </div>
        <div>
            <label for="tag_description">Tag Description</label>
            <input type="text" name="tag_description" id="tag_description" placeholder="i.e. My Tag"
                class="form-control" required>
        </div>

        <button type="submit" class="btn btn-primary btn-large">Submit</button>
    </form>
    {% if current_user.has_role('ADMIN') %}
    <form onsubmit="event.preventDefault(); return editStatus()" class="tw-flex tw-flex-col tw-gap-4 tw-mb-4">
        <h2 class="tw-font-semibold tw-text-3xl">Edit Tag Status</h2>
        <div class="tw-mt-4">
            <label for="status">Status</label>
            <select name="status" id="tag_status" class="form-control" required>
                <option value="" disabled selected>Select Status</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
                <option value="in_review">In Review</option>
            </select>
            <button type="submit" class="btn btn-primary btn-large  tw-mt-2 tw-w-full">Update Status</button>
    </form>
    {% endif %}
</div>
<script>
    async function createTag() {
        const tag = JSON.parse(('{{tag[0] | tojson}}'))

        const name = document.getElementById('tag_name').value;
        const description = document.getElementById('tag_description').value;
        const data = {
            name,
            description,
        }
        await fetch(`/tags${tag ? '?id=' + tag.id : ''}`, {
            method: tag ? 'PUT' : 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        })
            .then(res => res.json())
            .then(data => {
                console.log(data);
            })
            .catch(err => {
                console.log(err);
            })
    }
</script>

<script>
    function editing() {
        const tag = JSON.parse(('{{tag[0] | tojson}}'))

        if (tag) {
            document.getElementById('tag_name').value = tag.name
            document.getElementById('tag_description').value = tag.description
            document.getElementById('tag_status').value = tag.status.toLowerCase().split(' ').join('_')
        }
    }
    editing()

</script>

<script>
    function editStatus() {
        const tag = JSON.parse(('{{tag[0] | tojson}}'))
        const status = document.getElementById('tag_status').value
        fetch(`/tags?id=${tag.id}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                status
            })
        })
            .then(res => res.text())
            .then(data => {
                alert(data)
            })
            .catch(err => {
                console.log(err);
            })
    }
</script>
{% endblock %}