{% extends 'base.html' %}

{% block content %}

<div class="container tw-flex tw-flex-col tw-gap-6 tw-w-full">
    <h2 class="tw-font-semibold tw-text-3xl tw-mb-4 tw-inline-block">Create or Edit Brand</h2>
    <form onsubmit="event.preventDefault(); return createBrand()" class="tw-flex tw-flex-col tw-gap-4">
        <div>
            <label for="brand_name">Brand Name</label>
            <input type="text" name="brand_name" id="brand_name" placeholder="i.e. Kellogs" class="form-control"
                required>
        </div>
        <div>
            <label for="brand_country">Country</label>
            <input type="text" name="brand_country" id="brand_country" placeholder="i.e. Venezuela" required
                class="form-control">
        </div>
        <div>
            <label for="brand_image">Upload image</label>
            <input required type="file" name="brand_image" id="brand_image" accept="image/*" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary btn-large">Submit</button>
    </form>
    {% if current_user.has_role('ADMIN') %}
    <form onsubmit="event.preventDefault(); return editStatus()" class="tw-flex tw-flex-col tw-gap-4 tw-mb-4">
        <h2 class="tw-font-semibold tw-text-3xl">Edit Brand Status</h2>
        <div class="tw-mt-4">
            <label for="status">Status</label>
            <select name="status" id="brand_status" class="form-control" required>
                <option value="" disabled selected>Select Status</option>
                <option value="approved">Approved</option>
                <option value="rejected">Rejected</option>
                <option value="in_review">In Review</option>
            </select>
            <button type="submit" class="btn btn-primary btn-large  tw-mt-2 tw-w-full">Update Status</button>
    </form>
    {% endif %}
</div>
<script>
    async function createBrand() {
        const brand = JSON.parse(('{{brand[0] | tojson}}'))
        const name = document.getElementById('brand_name').value;
        const country = document.getElementById('brand_country').value;
        const image = document.getElementById('brand_image').files[0];
        const formData = new FormData();
        formData.append('image', image);
        formData.append('name', name);
        formData.append('country', country);
        if (brand) {
            formData.append('id', brand.id);
        }

        await fetch(`/brands${brand ? '?id=' + brand.id : ''}`, {
            method: brand ? 'PUT' : 'POST',
            headers: {
            },
            body: formData
        })
            .then(res => res.text())
            .then(data => {
                alert(`Brand ${brand ? 'updated' : 'created'} successfully`)
                window.location.href = '/dashboard'
            })
            .catch(err => {
                console.log(err);
            })
    }
</script>
<script>
    function editing() {
        const brand = JSON.parse(('{{brand[0] | tojson}}'))
        if (brand) {
            document.getElementById('brand_name').value = brand.name
            document.getElementById('brand_country').value = brand.country
            document.getElementById('brand_status').value = brand.status.toLowerCase().split(' ').join('_')
        }
    }
    editing()

</script>
<script>
    function editStatus() {
        const brand = JSON.parse(('{{brand[0] | tojson}}'))
        const status = document.getElementById('brand_status').value
        fetch(`/brands?id=${brand.id}`, {
            method: 'PATCH',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                status
            })
        })
            .then(res => res.text())
            .then(data => {
                alert(data)
            })
            .catch(err => {
                console.log(err);
            })
    }
</script>
{% endblock %}