<!DOCTYPE html>
<html lang="en">

</html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/tailwind-output.css') }}">
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    {% if not session['city'] and not session['location_requested'] %}
    <script>
        function geoFindMe() {
            async function success(position) {
                // Send data and keep navigating
                const latitude = position.coords.latitude;
                const longitude = position.coords.longitude;

                const response = await fetch('/handle_location', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ latitude: latitude, longitude: longitude })
                })
                if (response.status == 201) {
                    window.location.href = '/dashboard'
                    return
                } else {
                    window.location.href = '/error'
                }
            }

            function error() {
                // Redirect to allow location
                window.location.href = '/allow-location'
            }

            if (!navigator.geolocation) {
                // Alert warning // exit somewhere
                alert("Geolocation is not supported by your browser")
            } else {
                navigator.geolocation.getCurrentPosition(success, error);
            }
        }
        geoFindMe()
    </script>
    {% endif %}
</head>

<body class="position-relative">
    {% if loading %}
    {% include 'misc/loading_spinner.html' %}
    {% block loading %}
    {% endblock %}
    {% endif %}
    {% include 'navbar.html' %}
    {% block navbar %}
    {% endblock %}
    <div class="jumbotron tw-py-8 tw-px-3 tw-h-full tw-font-sans tw-bg-slate-100">

        {% block content %}
        {% endblock %}
    </div>
    {% include 'footer.html' %}
    {% block footer %}
    {% endblock %}
</body>

</html>