{% extends "base.html"%}

{% block content %}


<div class="container-fluid">
    <h2 class="m-2">Frecuent Asked Questions</h2>
    <div class="card m-2">
        <div class="card-body">
            <div class="card-title fs-4 text-primary fw-light">
                Why you made this project?
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Libero ex reiciendis fuga laudantium officia
                est quibusdam ad dignissimos, nemo aliquam tenetur alias! Iure asperiores dicta maiores excepturi atque
                sapiente laborum.
            </div>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <div class="card-title fs-4 text-primary fw-light">
                What inspired you to make this?
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet laboriosam repellat possimus natus saepe
                aliquid, praesentium commodi sequi corporis consequuntur. Suscipit dignissimos facere sit placeat
                quibusdam distinctio? Quisquam, quos. Architecto.
            </div>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <div class="card-title fs-4 text-primary fw-light">
                Who paid for this project?
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum delectus eveniet repudiandae
                molestias omnis ullam blanditiis sequi odio explicabo maiores, nobis aliquam nulla quas praesentium sint
                ipsum laborum ab aut.
            </div>
        </div>
    </div>
    <div class="card m-2">
        <div class="card-body">
            <div class="card-title fs-4 text-primary fw-light">
                Which is your next step?
            </div>
            <div class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum, obcaecati amet officia saepe quaerat at
                tempora nostrum expedita quidem nobis ratione quas velit temporibus molestias inventore tenetur dolores
                ab nemo?
            </div>
        </div>
    </div>
</div>

{% endblock %}