{% extends 'base.html' %}

{% block content %}
<form id="search__for" class="tw-flex tw-flex-col tw-w-full"
    onsubmit="event.preventDefault(); return getResults(this);">
    <div class="container tw-mb-4">
        <!-- Search bar -->
        <p class="tw-text-xl tw-mb-2">
            Enter something you're looking for </p>
        <div id="search__input" class="input-group mb-3">

            <button class="btn btn-primary" id="submit__search__button" type="submit">Search</button>
            <!-- Switch from products to bussiness -->
            <select class="form-select flex-grow-0 w-auto" aria-label=".form-select-lg example" name="type"
                id="type__options" onchange="event.preventDefault(); return optionsFilterSetter(event.target.value)">
                <option value="products" selected="selected">Products</option>
                <option value="bussiness">Bussiness</option>
            </select>

            <input type="text" name="name" value="{{keyword}}" class="form-control">
            <input type="number" name="page" id="input_page" hidden="true">
        </div>


    </div>
    <div class="tw-flex">
        <!-- Sidebar -->
        <div id="search__sidebar"
            class="bg-primary-subtle text-color-baseblue p-2 tw-w-1/5 tw-rounded-[10px] tw-min-w-min">
            <p class="tw-text-center tw-text-xl tw-font-semibold tw-m-3">Filters</p>
            <select class="form-select flex-grow" aria-label=".form-select-lg example" name="filter"
                id="filter__options">
                <option class="filter-option" value="None" selected="selected">-- None --</option>
                <option class="filter-option" value="popular">Popular</option>
                <option class="filter-option" value="top_rated">Top Rated</option>
                <option class="filter-option" value="newest">Newest</option>

            </select>
            <p class="tw-text-center tw-text-xl tw-font-semibold tw-m-3">Tags</p>
            <div id="tags-area">
                {% for tag in tag_list %}
                <button id="{{ tag.id }}" class="btn btn-sm btn-outline-primary tw-m-1 tag-button" type="button">{{
                    tag.name
                    }}</button>
                {% endfor %}
            </div>
        </div>
        <!-- Content -->
        <div id="search__container" class="tw-w-4/5 px-2">
            <!-- Elements -->

            <div class="tw-grid tw-grid-cols-[repeat(auto-fill,_minmax(200px,_1fr))] tw-grid-rows-[repeat(auto,_auto)] tw-gap-2"
                id="search__elements">

                {% for item in items %}
                {% if item.brand_id %}
                <a class="card" href="{{url_for('products.find_by_slug', slug=item.slug)}}">
                    {% else %}
                    <a class="card" href="{{url_for('bussiness.find_by_slug', slug=item.slug)}}">

                        {% endif %}
                        <div class="card-body tw-flex tw-flex-col tw-gap-1">
                            <img src="{{ url_for('static', filename='images/generic.png') }}" alt=""
                                class="img-card-top mb-2">
                            <p class="card-title tw-text-lg tw-font-semibold"> {{item.name}}</p>
                            <p class="card-text">{{item.description}}</p>
                        </div>
                    </a>
                    {% endfor %}



            </div>
            <div id="not-results">
                {% if items == [] %}
                <p class="tw-text-3xl tw-mt-4 tw-font-semibold tw-text-center">No results</p>
                {% endif %}
            </div>
            <!-- Pagination -->
            <div id="pagination" class="tw-mt-4"></div>
        </div>
    </div>


</form>

<!-- Pagination : EXPORT SCRIPT -->
<script>
    function setPaginationElement(pages, index) {

        const paginationArea = document.getElementById('pagination');
        const pagesCount = pages < 1 ? 1 : pages;
        // Clear previous pagination
        paginationArea.innerHTML = '';

        // Create navigation structure
        const nav = document.createElement('nav');
        nav.setAttribute('aria-label', 'Page navigation example');
        nav.className = 'tw-flex tw-justify-center';

        const ul = document.createElement('ul');
        ul.className = 'pagination';

        // Previous button
        const prevLi = document.createElement('li');
        prevLi.className = `page-item ${index == 1 ? 'disabled' : ''}`;
        const prevLink = document.createElement('a');
        prevLink.className = 'page-link';
        prevLink.href = '#';
        prevLink.innerText = 'Previous';
        prevLink.addEventListener('click', () => {
            event.preventDefault()
            document.getElementById('input_page').value = index - 1; // Set the 
            document.getElementById('submit__search__button').click()
        })
        prevLi.appendChild(prevLink);
        ul.appendChild(prevLi);

        // Create page items
        for (let i = 0; i < pagesCount; i++) {
            const li = document.createElement('li');
            li.className = 'page-item';
            const link = document.createElement('a');
            link.className = `page-link ${index === i + 1 ? 'active' : ''}`;
            link.href = '#';
            link.innerText = i + 1;

            // Add click event listener
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Prevent the default anchor behavior
                document.getElementById('input_page').value = i + 1; // Set the hidden input value
                document.getElementById('submit__search__button').click(); // Submit the form
            });

            li.appendChild(link);
            ul.appendChild(li);
        }

        // Next button
        const nextLi = document.createElement('li');
        nextLi.className = 'page-item';
        const nextLink = document.createElement('a');
        nextLink.className = `page-link ${index >= pagesCount ? 'disabled' : ''}`;
        nextLink.href = '#';
        nextLink.innerText = 'Next';
        nextLink.addEventListener('click', () => {
            event.preventDefault()
            document.getElementById('input_page').value = index + 1; // Set the 
            document.getElementById('submit__search__button').click()
        })
        nextLi.appendChild(nextLink);
        ul.appendChild(nextLi);

        // Append the list to the navigation
        nav.appendChild(ul);
        paginationArea.appendChild(nav);
    }
</script>
<!-- Tag Setter -->
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const buttons = document.querySelectorAll('.tag-button');

        buttons.forEach(button => {
            button.addEventListener('click', function () {
                this.classList.toggle('btn-outline-primary');
                this.classList.toggle('btn-primary');
            });
        });
    });


    setPaginationElement(`{{pages}}`, 1)
</script>
<!-- Filter Options Setter -->
<script>
    function optionsFilterSetter(type) {
        const optionsSelect = document.getElementById('filter__options');
        optionsSelect.innerHTML = '';

        const noneOption = document.createElement('option');
        noneOption.innerText = "-- None --";
        noneOption.value = "None"
        optionsSelect.appendChild(noneOption)

        const popularOption = document.createElement('option');
        popularOption.innerText = "Popular";
        popularOption.value = "popular"
        optionsSelect.appendChild(popularOption)

        const topRatedOption = document.createElement('option');
        topRatedOption.innerText = "Top Rated"
        topRatedOption.value = "top_rated"
        optionsSelect.appendChild(topRatedOption)

        if (type == 'products') {
            const newestOption = document.createElement('option');
            newestOption.innerText = "Newest";
            newestOption.value = "newest"
            optionsSelect.appendChild(newestOption)

        } else {
            const nearestOption = document.createElement('option');
            nearestOption.innerText = "Nearest";
            nearestOption.value = "nearest"
            optionsSelect.appendChild(nearestOption)

            const mostDiscountOption = document.createElement('option');
            mostDiscountOption.innerText = "Most Discount";
            mostDiscountOption.value = "most_discount"
            optionsSelect.appendChild(mostDiscountOption)
        }

        setPaginationElement(`{{pages}}`, 1)
        document.getElementById('input_page').value = 1
    }
</script>
<!-- Requests -->
<script>
    async function getResults(e) {
        const buttons = document.querySelectorAll('.tag-button')
        const tags = []
        buttons.forEach((btn) => {
            if (btn.classList.contains('btn-primary')) {
                tags.push(btn.id)
            }
        });
        const page = e.page.value
        const toSearch = e.name.value ? `name=${e.name.value}` : `filter=${e.filter.value}`
        const response = await fetch(`/search/${e.type.value}?${toSearch}${page > 1 ? '&page=' + page : ''}`, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ tags })
        })

        const content = await response.json();
        const data = content.data
        const cardContainer = document.getElementById('search__elements')
        cardContainer.innerHTML = '';
        const htmlContent = data.map(item => `<a class="card" href=../${e.type.value}/search/${item.slug}>
                    <div class="card-body tw-flex tw-flex-col tw-gap-1">
                        <img src="{{ url_for('static', filename='images/generic.png') }}" alt=""
                            class="img-card-top mb-2">
                        <p class="card-title tw-text-lg tw-font-semibold"> ${item.name}</p>
                        <p class="card-text">${item.description}</p>
                    </div>
                </a>`).join('')
        cardContainer.innerHTML = htmlContent;
        const noResultsContainer = document.getElementById('not-results')
        if (data.length > 0) {
            noResultsContainer.innerHTML = '';
            setPaginationElement(content.count, +page)
        } else {
            noResultsContainer.innerHTML = `<p class="tw-text-3xl tw-mt-4 tw-font-semibold tw-text-center">No results</p>`
            setPaginationElement(1, 1)

        }

        return false
    }
</script>
<!-- Set Selects  -->
<script>
    const filterSelect = document.getElementById('filter__options');
    filterSelect.value = `{{request.args.get("filter", None)}}` || "None"
    const typeSelect = document.getElementById("type__options")
    const typeResult = `{{request.args.get("type")}}` || "products"
    typeSelect.value = typeResult !== 'None' ? typeResult : "products"
</script>
{% endblock %}