{% extends 'base.html' %}
{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center h-100 flex-column">
    <h4 class="tw-font-semibold tw-text-3xl tw-mb-4 tw-inline-block">Register</h4>
    <form onsubmit="event.preventDefault(); return login(this)" class="tw-w-1/3">
        <div class="mb-4">
            <label for="name">Name</label>
            <input type="name" name="name" id="name" class="form-control" required>
        </div>

        <div class="mb-4">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" class="form-control" required>
        </div>

        <div class="mb-4">
            <label for="password">Password</label>

            <input type="password" name="password" id="password" class="form-control" required>
        </div>
        <div class="mb-4">
            <label for="confirm-password">Confirm Password</label>

            <input type="password" name="confirm-password" id="confirm-password" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary btn-large">Register</button>
    </form>
</div>
<script>
    async function login(e) {
        const email = e.email.value
        const password = e.password.value
        const name = e.name.value
        const confirmPassword = e.password.value

        await fetch('/auth/register', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name, email, password, 'confirm-password': confirmPassword
            })
        })
            .then(data => data.text())
            .then(data => {
                alert(data)
            })
            .catch(e => {
                console.log(e)
            })

    }
</script>
{% endblock content %}